<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>carnava data</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <!-- Latest compiled and minified CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/light-bootstrap-dashboard.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="https://www.carvana.com/cars" class="simple-text">
                        carnava's data
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-grid-45"></i>
                            <p>Homepage</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/selectbybrand">
                            <i class="nc-icon nc-puzzle-10"></i>
                            <p>Select by brand</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/crud">
                            <i class="nc-icon nc-ruler-pencil"></i>
                            <p>CRUD</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="color: deepskyblue;" id="message" class="card-category"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">CAR DETAIL</h4>
                                </div>
                                <div class="card-body">
                                    <form action="/savecar" method = "POST" enctype = "multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <input id="car_id" name="car_id" type="text" readonly class="form-control" placeholder="ID" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-1">
                                            <div class="form-group">
                                                <label>Manufacture Year</label>
                                                <input type="text" id="manufacture_year" disabled name="manufacture_year" class="form-control" placeholder="Manufacture Year" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label>Brand</label>
                                                <select id="brand" name="brand" disabled class="form-control" placeholder="Brand">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1" style="padding-left: 5px;">
                                            <div class="form-group">
                                                <label>Model</label>
                                                <select id="model" name="model" disabled class="form-control" placeholder="Model" style="width: 96%;">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label>Mileage</label>
                                                <input id="mileage" name="mileage" disabled type="text" class="form-control" placeholder="Mileage" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-1">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input id="price" name="price" disabled type="text" class="form-control" placeholder="Price" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-1">
                                            <button id="btn_save_car" type="submit" disabled class="btn btn-info btn-fill pull-right" style="margin-top:2em;">Save</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">CAR LIST</h4>
                                    <div class="row" >
                                        <button name="add_car" type="submit" class="btn btn-info btn-fill pull-right" style="margin-top:2em;margin-left:1em;">Add car</button>
                                    </div>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>ID</th>
                                            <th>Manufacture Year</th>
                                            <th>Brand</th>
                                            <th>Model</th>
                                            <th>Mileage</th>
                                            <th>Price (in $)</th>
                                            <th></th>
                                            <th></th>
                                        </thead>
                                        <tbody id="car_list">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/deletecar" id="deletecar" method = "POST" enctype = "multipart/form-data">
        <input id="deleted_car_id" name="deleted_car_id" type="hidden" readonly class="form-control" placeholder="ID" value="">
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {% block scripts %}
    var data = {{data|tojson|safe}};
    {% endblock %}

    $(document).ready(function() {
        showCarTable();
        fetchBranchModelData();

        var msg = data.message;
        if(msg != null && msg.length > 0){
            $("#message").text(msg);
        }

        $('button[name="add_car"]').click(function(){
            $("#manufacture_year").prop('disabled', false);
            $("#brand").prop('disabled', false);
            $("#model").prop('disabled', false);
            $("#mileage").prop('disabled', false);
            $("#price").prop('disabled', false);
            $("#btn_save_car").prop('disabled', false);

            $("#manufacture_year").val(""); 
            $("#brand").val($("#brand option:first").val());
            brandOnChange();
            $("#mileage").val(""); 
            $("#price").val("");
        });
    
        $('button[name="edit_car"]').click(function(){
            $("#manufacture_year").prop('disabled', false);
            $("#brand").prop('disabled', false);
            $("#model").prop('disabled', false);
            $("#mileage").prop('disabled', false);
            $("#price").prop('disabled', false);
            $("#btn_save_car").prop('disabled', false);

            var tr_tag = $(this).parent().parent();
            var _id = $(tr_tag.find($('td'))[0]).text();
            var _year = $(tr_tag.find($('td'))[1]).text();
            var _brand = $(tr_tag.find($('td'))[2]).text();
            var _model = $(tr_tag.find($('td'))[3]).text();
            var _mileage = $(tr_tag.find($('td'))[4]).text().replace(',','');
            var _price = $(tr_tag.find($('td'))[5]).text().replace(',','');
            
            $("#car_id").val(_id); 
            $("#manufacture_year").val(_year); 
            $("#brand").val(_brand);
            brandOnChange();
            $("#model").val(_model);
            $("#mileage").val(_mileage); 
            $("#price").val(_price);
        });
    
        $('button[name="delete_car"]').click(function(){
            var tr_tag = $(this).parent().parent();
            var _id = $(tr_tag.find($('td'))[0]).text();
            
            $("#deleted_car_id").val(_id);

            $('form#deletecar').submit();
        });

        $('#brand').change(function(){
            brandOnChange();
        });
    });

    function showCarTable(){
        var html_str = '';
        for(var i = 0; i < data.cars.length; i++){
            html_str += '<tr>';
            html_str += '<td>'+data.cars[i]._id+'</td>';
            html_str += '<td>'+data.cars[i].year+'</td>';
            html_str += '<td>'+data.cars[i].brand+'</td>';
            html_str += '<td>'+data.cars[i].model+'</td>';
            html_str += '<td>'+data.cars[i].mileage.toLocaleString('en-US')+'</td>';
            html_str += '<td>'+data.cars[i].price.toLocaleString('en-US')+'</td>';
            html_str += '<td><button name="edit_car" type="submit" class="btn btn-info btn-fill pull-right">Edit</button></td>';
            html_str += '<td><button name="delete_car" type="submit" class="btn btn-info btn-fill pull-right">Delete</button></td>';
            html_str += '</tr>';
        }
        $("#car_list").html(html_str);
    }

    function fetchBranchModelData(){
        var html_str = '';
        data.brands.forEach(element => {
            html_str += '<option value="'+element.name+'">'+element.name+'</option>';
        });
        $("#brand").html(html_str);
        $("#brand").val($("#brand option:first").val());
        brandOnChange();
    }

    function brandOnChange(){
        var html_str = '';
        var selected_brand = $("#brand").val();
        data.brands.forEach(element => {
            if(selected_brand == element.name){
                element.models.forEach(model => {
                    html_str += '<option value="'+model+'">'+model+'</option>';
                });
            }
        });
        $("#model").html(html_str);
        $("#model").val($("#model option:first").val());
    }
        
</script>

</html>
