<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>carnava data</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <!-- Latest compiled and minified CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/light-bootstrap-dashboard.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="https://www.carvana.com/cars" class="simple-text">
                        carnava's data
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-grid-45"></i>
                            <p>Homepage</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/dashboard">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/selectbybrand">
                            <i class="nc-icon nc-puzzle-10"></i>
                            <p>Select by brand</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/crud">
                            <i class="nc-icon nc-ruler-pencil"></i>
                            <p>CRUD</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">BDAT1007 - Social Data Mining Techniques</h4>
                                    <p class="card-category">Group 3</p>
                                </div>
                                <div class="card-body">
                                    <div class="typography-line">
                                        <h1><span>ASSIGNMENT#1</span></h1>
                                    </div>
                                    <div class="typography-line">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="typography-line">
                                        <h3><span>Team members</span></h3>
                                    </div>
                                    <div class="typography-line">
                                        <p>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <td><b>Name</b></td>
                                                        <td>&nbsp;</td>
                                                        <td><b>Role</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Archana Prabhakar</td>
                                                        <td>&nbsp;</td>
                                                        <td>Data Analyst</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Emma Guo</td>
                                                        <td>&nbsp;</td>
                                                        <td>Business Data Analyst</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thi Pham</td>
                                                        <td>&nbsp;</td>
                                                        <td>Developer</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Aleena Saji</td>
                                                        <td>&nbsp;</td>
                                                        <td>Developer</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </p>
                                    </div>
                                    <div class="typography-line">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="typography-line">
                                        <h3><span>Project summary</span></h3>
                                    </div>
                                    <div class="typography-line">
                                        <ul>
                                            <li>Web Scrapping performed on Carvana.com​ by using beautifulsoup</li>
                                            <li>Acquired data and stored it on the MangoDB Database​</li>
                                            <li>Created Web application & APIs using Flask</li>
                                        </ul>
                                    </div>
                                    <div class="typography-line">
                                        <p>&nbsp;</p>
                                    </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        
    });
</script>

</html>
